{% extends 'tasks/base.html' %}

{%block title%}TApp{%endblock%}


{%block content%}
<div class="grid grid-cols-5 gap-3">

    <div class="col-span-1 rounded-xl py-6">
        <div class="mb-6">
            <a href="{% url 'tasks:new' %}" class="px-6 py-3 text-xl text-white font-semibold bg-emerald-700 hover:bg-emerald-900 rounded-xl">Add new task</a>
        </div>

        <form action="{% url 'tasks:tasks' %}" method="get">
            <div class="mb-6 border-2 rounded-xl w-full flex flex-row justify-between items-center">
                <input name="query" type="text" class="p-3 h-full w-4/5 rounded-l-xl" value="{{query}}" placeholder="">
                <button class="w-fit h-fit text-gray-400 px-3">Search</button>
            </div>
        </form>

            <p class="text-lg font-semibold">Filter by Status</p>
            <ul>
                {% for filter in filters %}
                <li class="my-3 p-3 text-lg rounded-xl {% if filter.0 == status %}bg-gray-200{% endif %}">

                    <a href="{% url 'tasks:tasks' %}?query={{query}}&status={{filter.0}}">
                    {{filter.1}}
                    </a>
                </li>
                {% endfor %}
            </ul>

        <a href="{% url 'tasks:tasks' %}" class="py-2 px-3 mt-3 text-lg text-white font-semibold rounded-xl bg-emerald-700 hover:bg-emerald-900 ">Clear</a>
    </div>

    <div class="p-6 col-span-4 rounded-xl">
        {% if overdue_tasks %}
        <h2 class="mb-6 text-xl font-semibold">Overdue</h2>
        <ul>
            {% for task in overdue_tasks %}
            <li class="mb-4 p-3 bg-white rounded-xl w-3/4">
                <div class="flex flex-row justify-between">
                    <div>
                        <a class="text-lg hover:text-emerald-800" href="{% url 'tasks:detail' task.pk %}"><span class="font-medium">{{task}}</span> - {{task.due_date}} | {{task.get_status_display}} </a> 
                    </div>
                    <div>
                        <a href="{% url 'tasks:delete' task.pk %} " class="text-red-600">Delete</a>
                        <span class="text-gray-400">| Created: {{task.created_at.date}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if today_tasks %}
        <h2 class="mb-6 text-xl font-semibold">Today</h2>
        <ul>
            {% for task in today_tasks %}
            <li class="mb-4 p-3 bg-white rounded-xl w-3/4">
                <div class="flex flex-row justify-between">
                    <div>
                        <a class="text-lg hover:text-emerald-800" href="{% url 'tasks:detail' task.pk %}"><span class="font-medium">{{task}}</span> - {{task.due_date}} | {{task.get_status_display}} </a> 
                    </div>
                    <div>
                        <a href="{% url 'tasks:delete' task.pk %} " class="text-red-600">Delete</a>
                        <span class="text-gray-400">| Created: {{task.created_at.date}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if tomorrow_tasks %}
        <h2 class="mb-6 text-xl font-semibold">Tommorow</h2>
        <ul>
            {% for task in tomorrow_tasks %}
            <li class="mb-4 p-3 bg-white rounded-xl w-3/4">
                <div class="flex flex-row justify-between">
                    <div>
                        <a class="text-lg hover:text-emerald-800" href="{% url 'tasks:detail' task.pk %}"><span class="font-medium">{{task}}</span> - {{task.due_date}} | {{task.get_status_display}} </a> 
                    </div>
                    <div>
                        <a href="{% url 'tasks:delete' task.pk %} " class="text-red-600">Delete</a>
                        <span class="text-gray-400">| Created: {{task.created_at.date}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if week_tasks %}
        <h2 class="mb-6 text-xl font-semibold">Next Week</h2>
        <ul>
            {% for task in week_tasks %}
            <li class="mb-4 p-3 bg-white rounded-xl w-3/4">
                <div class="flex flex-row justify-between">
                    <div>
                        <a class="text-lg hover:text-emerald-800" href="{% url 'tasks:detail' task.pk %}"><span class="font-medium">{{task}}</span> - {{task.due_date}} | {{task.get_status_display}} </a> 
                    </div>
                    <div>
                        <a href="{% url 'tasks:delete' task.pk %} " class="text-red-600">Delete</a>
                        <span class="text-gray-400">| Created: {{task.created_at.date}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2 class="mb-6 text-xl font-semibold">Later</h2>
        <ul>
            {% for task in tasks %}
            <li class="mb-4 p-3 bg-white rounded-xl w-3/4">
                <div class="flex flex-row justify-between">
                    <div>
                        <a class="text-lg hover:text-emerald-800" href="{% url 'tasks:detail' task.pk %}"><span class="font-medium">{{task}}</span> - {{task.due_date}} | {{task.get_status_display}} </a> 
                    </div>
                    <div>
                        <a href="{% url 'tasks:delete' task.pk %} " class="text-red-600">Delete</a>
                        <span class="text-gray-400">| Created: {{task.created_at.date}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{%endblock%}