{% extends 'tasks/base.html' %}

{%block title%}TApp{%endblock%}


{%block content%}
<div class="p-6 w-3/4 mx-auto bg-gray-100 rounded-xl">

    <div class="p-6 bg-emerald-100 rounded-xl">
    Search bar goes here
    </div>

    <h1 class="mb-6 text-2xl font-bold">Tasks</h1>
    <ul>
        {% for task in tasks %}
        <li class="mb-4 p-2 bg-white rounded-xl">
            <a class="text-lg hover:text-emerald-800" href="{% url 'tasks:detail' task.pk %}">{{task}} | {{task.due_date}} | {{task.status}} | {{task.created_at}}</a> | <a href="{% url 'tasks:delete' task.pk %} " class="text-red-600">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <div> 
        <h2 class="mb-6 mt-6 text-lg font-semibold">Add task</h2>
    
        <form method="post" action=".">
    
            {% csrf_token %}

            <div class="mb-3">
                <label class="inline-block mb-2">Task</label><br>
                {{ form.title }}
            </div>
            
            <div class="mb-3">
                <label class="inline-block mb-2">Description</label><br>
                {{ form.text }}
            </div>
            
            <div class="mb-3">
                <label class="inline-block mb-2">Due date</label><br>
                {{ form.due_date }}
            </div>
            
            <div class="mb-3">
                <label class="inline-block mb-2">Status</label><br>
                {{ form.status }}
            </div>
            
            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{field.errors}}
                {% endfor %}
                    {{form.non_field_errors}}
            </div>
            {% endif %}
    
            <button class="py-2 px-3 mt-3 text-lg bg-emerald-500 hover:bg-emerald-700 rounded-xl text-white">Add</button>
        </form>

</div>
{%endblock%}